.box {
  display: inline-block;
  width: 200px;
  height: 200px;
}
.red {
  background-color: red;
}
.aqua {
  background-color: aqua;
}
.pink {
  background-color: pink;
}
.box4 {
  width: 600px;
  height: 200px;
  background-color: bisque;
}
